<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Detailid</title>
</head>
<body>
    <table border="1" width="100%">
        <tr>
            <td>
                <br>
                <table border = "1px" width="46%" align="center" valign="center">
                    <tr>
                        <td><a href="front.html">Avaleht</a> | <a href="list.html">Nimekiri</a></td>
                        <td align="right"><a href="">Seaded</a></td>
                    </tr>
                </table>

                <br>
                <table border="1px" width="46%" align="center" valign="center">
                    <tr>
                        <td width="45%">Nimi:</td>
                        <td>Jaak</td>
                    </tr>
                    <tr>
                        <td>Perekonnanimi</td>
                        <td>Tamm</td>
                    </tr>
                    <tr>
                        <td>Telefon:</td>
                        <td>123 456</td>
                    </tr>
                </table>
                <br>
                <br>
                <br>
                <table border = "1" width="46%" align="center">
                    <tr>
                        <td align="left" width="45%">Ehitajate tee 5, 19086 Tallinn</td>
                        <td align="center" width="10%">620 2002</td>
                        <td align="right" width="45%">info@taltech.ee</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>