<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Nimekiri</title>
</head>
<body>
    <table border="1" width="100%">
        <tr>
            <td>
                <table border = "1px" width="46%" align="center" valign="center">
                    <tr>
                        <td><a href="front.html">Avaleht</a> | <a href="list.html">Nimekiri</a></td>
                        <td align="right"><a href="">Seaded</a></td>
                    </tr>
                </table>
                <br>

                <table border = "1px" width="46%" align="center" cellpadding="4">
                    <tr align="center">
                        <th>Eesnimi</th>
                        <th>Perekonnanimi</th>
                        <th>Telefon</th>
                    </tr>
                    <tr>
                        <td><a href="details.html">Jaak</a></td>
                        <td>Tamm</td>
                        <td>123 456</td>
                    </tr>
                    <tr>
                        <td>Mari</td>
                        <td>Kask</td>
                        <td>456 789</td>
                    </tr>
                </table>
                <br>
                <br>
                <br>
                <table border = "1" width="46%" align="center">
                    <tr>
                        <td align="left" width="45%">Ehitajate tee 5, 19086 Tallinn</td>
                        <td align="center" width="10%">620 2002</td>
                        <td align="right" width="45%">info@taltech.ee</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>
</html>